.Header {
  text-align: left;
}

.App-logo {
  height: 32px;
  margin: auto;
}

.App-header {
  display: grid;
  grid-template-columns: 50px auto;
  background: #005B70;
  height: 40px;
  padding: 5px 20px;
  color: white;
  box-shadow: 0px 2px 5px grey;
}

.App-title {
  display: inline;
  margin: auto 20px;
  font-size: 1.6em;
}

.App-intro {
  text-align: center;
  font-size: 1.1em;
}
