.Header {
  text-align: left;
}

.App-logo {
  height: 32px;
  margin: auto;
}

.App-header {
  display: grid;
  grid-template-columns: 50px auto;
  background-color: #002D37;
  height: 40px;
  padding: 5px 20px;
  color: white;
}

.App-title {
  display: inline;
  margin: auto 20px;
  font-size: 1.6em;
}

.App-intro {
  text-align: center;
  font-size: 1.1em;
}
