.Test-cases {
    margin: 40px;
}

.Row {
    width: 100%;
    display: grid;
    margin: auto;
    margin-top: 1px;
    grid-template: 22px / auto 22px 22px;
    background: white;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px #CCCCCC;
    border-radius: 2px;
}

.Row-id {
    line-height: 22px;
    text-align: right;
}

.Arrows {
    display: grid;
}

.Up {
    display: block;
    width: 4px;
    height: 4px;
    border: solid black;
    border-width: 0 2px 2px 0;
    margin: auto;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.Down {
    display: block;
    width: 4px;
    height: 4px;
    border: solid black;
    border-width: 0 2px 2px 0;
    margin: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    align-self: center;
}

@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
    font-family: Nunito;
    font-size: 1rem;
}

.Row {
    width: 100%;
    display: grid;
    margin: auto;
    margin-top: 1px;
}

input {
    margin-left: 4px;
    width: 100%;
    border: none;
    line-height: 22px;
    padding: 0px;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 22px;
    text-align: left;
}

input::placeholder {
    color: #CCCCCC;
    font-style: italic;
}

input:hover {
    box-shadow: -4px 0px 0px #4B6DE9;
}

input:focus {
    height:22px;
    outline: none;
    box-sizing: border-box;
    box-shadow: -4px 0px 0px #071F79;
    border-right: solid 1px #071F79;
    border-top: solid 1px #071F79;
    border-bottom: solid 1px #071F79;
    background-color: #F6F7FE;
}

