.Test-cases {
    width: 90%;
    margin: auto;
}

.Row {
    width: 100%;
    display: grid;
    margin: auto;
    margin-top: 1px;
    grid-template: 22px / auto 22px 22px;
    background: white;
    box-sizing: border-box;
}

.Row-id {
    line-height: 22px;
    text-align: right;
}

.Arrows {
    display: grid;
}

.Up {
    display: block;
    width: 4px;
    height: 4px;
    border: solid black;
    border-width: 0 2px 2px 0;
    margin: auto;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.Down {
    display: block;
    width: 4px;
    height: 4px;
    border: solid black;
    border-width: 0 2px 2px 0;
    margin: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    align-self: center;
}