@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
    font-family: Nunito;
    font-size: 1rem;
}

h3 {
    margin-left: 20%;
}

h3 span {
    font-weight: 300;
}

input {
    width: 90%;
    min-width: 500px;
    margin: auto;
    display: block;
    border: 2px solid #233232;
    border-radius: 4px;
    line-height: 28px;
}

input:focus {
    border: 2px solid #06B8E0;
}

.Test-case-header {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 28px;
    text-align: left;
}

.Test-case {
    font-size: 1.2rem;
    margin-left: 56px;
    text-align: left;
}

.Comment {
    font-size: 1.2rem;
    color: grey;
    margin-left: 56px;
    text-align: left;
}

input .Test-case-header, input .Test-case, input .Comment {
    margin: auto;
}

.Tag {
    text-transform: uppercase;
    text-align: right;
}