@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
    font-family: Nunito;
    font-size: 1rem;
}

h3 {
    margin-left: 20%;
}

h3 span {
    font-weight: 300;
}

.Row {
    width: 100%;
    display: grid;
    margin: auto;
    margin-top: 1px;

}

input {
    margin-left: 4px;
    width: 100%;
    border: none;
    line-height: 22px;
    padding: 0px;
    padding-left: 20px;
    box-sizing: border-box;
}

input::placeholder {
    color: #CCCCCC;
    font-style: italic;
}

input:hover {
    box-shadow: -4px 0px 0px rgba(75, 109, 233, 0.4);
}

input:focus {
    box-shadow: -4px 0px 0px #4B6DE9;
    outline: none;
}

input .Test-case-header, input .Test-case, input .Comment {
    margin: auto;
}

.Test-case-header, .Test-case, .Comment, .Tag {
    font-size: 1rem;
    line-height: 22px;
    text-align: left;
}

.Test-case-header {
    padding-left: 20px;
    font-weight: bold;
}

.Test-case {
    padding-left: 40px;
}

.Comment {
    padding-left: 40px;
    color: grey;
}

.Tag {
    padding-right: 40px;
    text-transform: uppercase;
    text-align: right;
}

