.App {
  text-align: left;
}

.Blue-strip {
  height: 4px;
  background-color: #06B8E0;
}

.App-logo {
  height: 32px;
  margin: auto;
}

.App-header {
  display: grid;
  grid-template-columns: 50px auto;
  background-color: #3B4747;
  height: 36px;
  padding: 5px 10px 5px 16px;
  color: white;
}

.App-title {
  display: inline;
  margin: auto 20px;
  font-size: 1.6em;
}

.App-intro {
  text-align: center;
  font-size: 1.1em;
}
